<%- include('_header.ejs'); %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Accept a payment</title>
    <meta name="description" content="A demo of a payment on Stripe" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <script src="https://js.stripe.com/v3/"></script>
    <script src="/javascript/checkout.js" defer></script>
    </head>
<body>
  <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100vh;">

    <!-- In your takepayment.ejs template -->
    <input type="hidden" id="paymentIntentId" value="<%= paymentIntentId %>">
    <input type="hidden" id="customerId" value="<%= customerId %>">
    <input type="hidden" id="clientSecret" value="<%= clientSecret %>">

    <!-- Display a styled payment form -->
    <div style="width: 80%; max-width: 500px; margin: 0 auto;">
      <form id="payment-form" style="padding: 20px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); border-radius: 10px; background-color: #fff; text-align: center;">
        <div id="payment-element" style="margin-bottom: 24px;">
          <!-- Stripe.js injects the Payment Element -->
        </div>
        <button id="submit" style="background-color: #5469d4; color: #fff; border: none; border-radius: 4px; padding: 12px 16px; font-size: 16px; cursor: pointer; width: 100%;">
          <div class="spinner hidden" id="spinner"></div>
          <span id="button-text">Pay now</span>
        </button>
        <div id="payment-message" class="hidden" style="color: rgb(105, 115, 134); font-size: 16px; line-height: 20px; padding-top: 12px;"></div>
      </form>
    </div>

  </div>

<%- include('_footer.ejs'); %>
</body>
</html>
